Header,Footer{
	a{ text-decoration: none; color: $theme-green-dark;}
}

Header{
	padding: $gutter-sm-1 0;
	
	width: 100%;
	max-width: 100%;
	position: fixed;
	background: white;
	z-index: 90;

	.logo-wrap{
		z-index: 99;
		margin: 0;
		width: 227px;
		height: 56px;
		overflow: hidden;
		.logo{
			margin: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 20px;
			right: 0;
			height: 100%;
			width: auto;
		}
		.mobile{display: none;  width: auto;}
	}

	.navBar{
		display: flex;
		justify-content: space-between;
		flex-grow: 1;
	}
	.nav{
		gap: $gutter-sm-1;
		margin: 0 auto;
		a{
			font-size: 1rem;
			line-height: 150%;
			letter-spacing: 0.1em;
		}
	}
	.contact{
		gap: $gutter-sm-3;
		flex-wrap: wrap;
	}
	.menu {
	  display: flex;
	  flex-direction: row;
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  display: flex;
		justify-content: space-between;
		flex-grow: 1;
	}

	.menu-button-container {
	  display: none;
	  height: 30px;
	  width: 30px;
	  margin-right: 2px;
	  cursor: pointer;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  z-index: 99;
	}

	#menu-toggle {
    position: absolute;
    width: 30px;
    right: 19px;
    height: 30px;
    border: #fff;
    background: #fff;
    display: none; 
    -webkit-appearance: none;

	}

	.menu-button,
	.menu-button::before,
	.menu-button::after {
	  display: block;
	  background-color: $theme-green-lite;
	  background-clip: content-box;
	  position: absolute;
	  height: 4px;
	  width: 30px;
	  transition: transform 800ms ease-in-out;
	  border-radius: 2px;
	  z-index: 99;
	  box-sizing: content-box;
	}
	.menu-button{
		padding: 8px 0;

	}
	.menu-button-container: focus{
		
	}
	.menu-button::before {
	  content: '';
	  margin-top: -8px;
	}

	.menu-button::after {
	  content: '';
	  margin-top: 8px;
	}

	#menu-toggle:checked + .menu-button-container .menu-button::before {
	  margin-top: 0px;
	  transform: rotate(405deg);
	}

	#menu-toggle:checked + .menu-button-container .menu-button {
	  background: rgba(255, 255, 255, 0);
	}

	#menu-toggle:checked + .menu-button-container .menu-button::after {
	  margin-top: 0px;
	  transform: rotate(-405deg);
	}



	@media (max-width: 900px){
		input[type="checkbox"]:focus + label {
		  outline:2px solid $theme-green-dark;
		  
		}
		
		#menu-toggle {
				display: block; 
		}

		.menu-button-container {
		    display: flex;
		 }
		 .wrap{
		 	overflow: hidden;
		 }
		.menu {
		    position: absolute;
		    top: -20px;
		    

		    padding-top: 200px;
		    
		    height: 70vh;
		    width: 0;
		    overflow: hidden;
		    left: 0;
		    flex-direction: column;
		    gap: 40px;
		    justify-content: start;
		    align-items: center;
		    background-color: $theme-green-dark;
		    z-index: 9;
		    transition: width 400ms cubic-bezier(0.23, 1, 0.32, 1);
		    .flex{flex-direction: column;}
		    a, a:before{
		    	color: #ffffff!important;
		    	filter:  brightness(0) invert(1);
		    	opacity: 0;
		    	transition: opacity 200ms linear;
		    	display: none;
		    }
		    .nav{margin-bottom: 40px;}
		    .nav > a{
		    	font-weight: 600;
				font-size: 25px;
				line-height: 110%;
		    }
		    
		}
		#menu-toggle{
			padding: 20px 0;
		}
		#menu-toggle:checked:focus + label{
			outline:2px solid white;
		}
		#menu-toggle:checked ~ .menu {
		    
		    width: 100%;
		    align-items: start;
		    text-align: left;
		    padding-left: 20px;
		    .nav{
		    	margin: 0;
		    }
		    a, a:before{
		    	opacity: 1;
		    	display: inline-block;
		    }
		}
		#menu-toggle:checked ~ .logo-wrap{
			.top,.sticky{ display: none; }
			.mobile{display: block;}
		}
	}
}
