/* Font */


/* Break points */
$min-width-sm: 480px;
$min-width-md: 610px;
$min-width-md2: 810px;
$min-width-l: 1100px;
$min-width-xl: 1200px;



/* Colours */
$theme-green-lite: #6AC17B;
$theme-green: #388547;
$theme-green-dark: #00534A;
$theme-blue: #187BB4;
$theme-grey: #F7F6FB;
$theme-white: #FFFFFF;


/* Gutters */

$gutter-xsm-1: 5px;
$gutter-xsm-2: 8px;
$gutter-xsm-3: 10px;
$gutter-xsm-4: 12px;
$gutter-xsm-5: 15px;

$gutter-sm-1: 20px;
$gutter-sm-2: 25px;
$gutter-sm-3: 30px;
$gutter-sm-4: 35px;
$gutter-sm-5: 40px;

$gutter-md-1: 40px;
$gutter-md-2: 45px;
$gutter-md-3: 50px;
$gutter-md-4: 55px;
$gutter-md-5: 60px;

$gutter-lg-1: 70px;
$gutter-lg-2: 80px;
$gutter-lg-3: 90px;
$gutter-lg-4: 100px;
$gutter-lg-5: 110px;

$gutter-xlg-1: 120px;
$gutter-xlg-2: 140px;
$gutter-xlg-3: 160px;
$gutter-xlg-4: 180px;
$gutter-xlg-5: 200px;

